<!DOCTYPE html>
<html>
<head>
<title>強者交大</title>
</head>
<body>

<% @messages.each do |message| %>
  <form action="confirmMessage" method="POST">
    <%= message[:message] %>
    <input type="hidden" name="id" value="<%= message[:id] %>" />
    <button type="submit" name="confirm" value="true">發表</button> &nbsp; <button type="submit" name="confirm" value="false">刪除</button>
  </form>
  <hr />
<% end %>
</body>
</html>
