<!DOCTYPE html>
<html>
<head>
<title>強者交大</title>
</head>
<body>
<form action="addMessage" method="POST">
	<textarea name="message"></textarea>
	<br />
	<BUTTON type="submit">送出</BUTTON>
</form>
</body>
</html>
