<!DOCTYPE html>
<html>
<head>
<title>強者交大</title>
</head>
<body>
<form action="login" method="POST">
	<input type="text" name="id" />
	<br />
	<input type="password" name="password" />
	<BUTTON type="submit">送出</BUTTON>
</form>
</body>
</html>
